:root {
    --background: #0f141a;
    --background-alt1: #172533;
    --background-alt2: #485251;
    --foreground: #f6f6f6;
    --foreground-alt: #396c9e;

    --animation: 0.2s ease-in-out;
}

body {
    padding: 1px;
    margin: 0px;
    width: 99vw;
    height: 99vh;
    background: linear-gradient(to bottom, var(--background-alt1), var(--background));
}

.box {
    margin: 15px;
    padding: 10px;
    width: 500px;
    color: var(--foreground);
    cursor: default;
    background-color: var(--background);
    border-radius: 10px;
    font-size: 20px;
    opacity: 60%;
    border-left: 0px solid var(--foreground-alt);
    transition: opacity var(--animation), border-left var(--animation);
}

.box:hover, .box:focus-within {
    opacity: 100%;
    border-left: 6px solid var(--foreground-alt);
}

form {
    display: flex;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--foreground);
}

input {
    flex: 1 1 auto;
    outline: none;
    border: none;
    border-radius: 50px;
    color: var(--foreground);
    background-color: var(--background-alt2);
    font-size: 20px;
    padding-left: 10px;
}

#weather-text div {
    margin: 15px;
}
